NOTE:
-----

진행하기 전에 다음의 셀을 실행시키고 가자.

Please run the below cells first before proceeding- you'll need them soon!

In [1]:
%load_ext sql
%sql sqlite:///dataset_1.db

'Connected: @dataset_1.db'

활동 3c
------------
한정자, NULL 값, 그리고 Outer Joins

Quantifiers, NULLs, and Outer Joins

문제 #1
-----------

앞에서 사용한 테이블들을 다시 보자:

Recall that the tables we just looked at:


`bagel` 베이글 회사들이 생산하는 베이글의 종류:

`bagel`, which describes types of bagels made by the different bagel companies:

> * name STRING
> * price FLOAT
> * made_by STRING

그리고 `purchase`:

And `purchase`:

> * bagel_name STRING
> * franchise STRING
> * date INT
> * quantity INT
> * purchaser_age INT

`purchase.bagel_name` 는 `bagel.name` 을 참조하고 `purchase.franchise` 는`bagel.made_by` 참조한다.

Where `purchase.bagel_name` references `bagel.name` and `purchase.franchise` references `bagel.made_by`.


**회사의 공식 목록(i.e. `bagel` 테이블) 중에 포함되지 않은 제품을 구매한 경우가 있었는지 찾아 볼 수 있는가? 단, 하나의 질의문으로 구성**

**Can you find out if there were any purchases of products not on one of the company's official lists (i.e. the `bagel` table), using a single SQL query?**


질의문을 아래에 작성한다:

Write your query here:

In [ ]:
%%sql